@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url(../Components/Alerts/alert.css);
@import url(../Components/Avatars/avatar.css);
@import url(../Components/Badges/badge.css);
@import url(../Components/Buttons/button.css);
@import url(../Components/Cards/card.css);
@import url(../Components/Grids/grid.css);
@import url(../Components/Images/image.css);
@import url(../Components/Inputs/input.css);
@import url(../Components/List/list.css);
@import url(../Components/Modal/modal.css);
@import url(../Components/Navigation/navigation.css);
@import url(../Components/Ratings/rating.css);
@import url(../Components/Toast/toast.css);
@import url(../Components/Utilities/utilities.css);

/* Custom Properties */
/* ---------------- */
:root{
    --clr-white: #ffffff;
    --clr-secondary: #ad80db;
    --clr-primary: #3ab4f8;
    --clr-dark: #212121;
    --clr-gray: #d9d9d9;
    --clr-gray-light: #eeeeee;
    --clr-success:#009485;
    --clr-failure:#ff5724;
    --clr-warning:#ff9900;
    --clr-primary-light:#e8f4fe;
    --clr-success-light:#e5f4f3;
    --clr-failure-light:#ffeee9;
    --clr-warning-light:#fff5e5;
    --clr-accent: #fee200;


     /* font sizes*/
     --fs-5xl: 9.375rem;
     --fs-4xl: 6.25rem;
     --fs-3xl: 4.5rem;
     --fs-2xl: 2rem;
     --fs-xl: 1.75rem;
     --fs-large: 1.125rem;
     --fs-normal: 1rem;
     --fs-sm: 0.875rem;

     /* font weights */
     --fw-xbold:900;
     --fw-bold:700;
     --fw-semibold:500;
     --fw-normal:400;
     --fw-light:200;
}

/* Utility classes for material icons */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
