<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../../css/main.css">
    <link rel="stylesheet" href="./../../css/components.css">
    <link rel="stylesheet" href="./avatar.css">

    <title>minimali ui: Avatars</title>
</head>

<body class="bg-white">

    <nav class="navbar">
        <h2 class="text-2xl ff-title fw-semibold">minimali.</h2>
        <ul class="navbar-right text-normal">
            <li><a class="links" href="">Home</a></li>
            <li><a class="links" href="">Docs</a></li>
            <li><a class="links" href="">Github</a></li>
        </ul>
    </nav>

    <main class="main-container">
        <section class="side-bar">

            <!-- Introduction List Items -->
            <div class="">
                <h3 class="fw-bold text-large">Getting Started</h3>
                <ul class="intro-list text-sm">
                    <li>
                        <a class="links" href="#">Introduction</a>
                    </li>
                    <li>
                        <a class="links" href="#">Colors</a>
                    </li>
                    <li>
                        <a class="links" href="#">Typography</a>
                    </li>
                </ul>
            </div>

            <!-- Components List Items -->
            <div class="">
                <h3 class="fw-bold text-large">Components</h3>
                <ul class="component-list text-sm">
                    <li>
                        <a class="links" href="avatar.html">Avatars</a>
                    </li>
                    <li>
                        <a class="links" href="">Alert</a>
                    </li>
                    <li>
                        <a class="links" href="badge.html">Badges</a>
                    </li>
                    <li>
                        <a class="links" href="button.html">Button</a>
                    </li>
                    <li>
                        <a class="links" href="#">Cards</a>
                    </li>
                    <li>
                        <a class="links" href="image.html">Images</a>
                    </li>
                    <li>
                        <a class="links" href="#">Input</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="doc-content">
            <h3 class="fw-bold text-2xl">
                Avatars
            </h3>
            
            <!-- Default Avatars -->
            <div class="component-container">
                <img class="avatar" src="https://res.cloudinary.com/rahulb4/image/upload/v1643855031/peep_rssuj0.png"
                    alt="avatar 1" />
                <img class="avatar" src="https://res.cloudinary.com/rahulb4/image/upload/v1643855031/peep_rssuj0.png"
                    alt="avatar 2" />
                <img class="avatar" src="https://res.cloudinary.com/rahulb4/image/upload/v1643855031/peep_rssuj0.png"
                    alt="avatar 3" />
            </div>

            <!-- Code Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2Favatar.html&style=github-gist&showBorder=on&showCopy=on"></script>
           
            <!-- Avatars with sizes  -->
            <div class="component-container">
                <img class="avatar avatar-small"
                    src="https://res.cloudinary.com/rahulb4/image/upload/v1643855031/peep_rssuj0.png"
                    alt="small avatar" />
                <img class="avatar avatar-medium"
                    src="https://res.cloudinary.com/rahulb4/image/upload/v1643855031/peep_rssuj0.png"
                    alt="medium avatar" />
                <img class="avatar avatar-large"
                    src="https://res.cloudinary.com/rahulb4/image/upload/v1643855031/peep_rssuj0.png"
                    alt="large avatar" />
            </div>

            <!-- Code Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2FavatarSizes.html&style=github-gist&showBorder=on&showCopy=on"></script>

            <!--Squared Avatars  -->
            <div class="component-container">
                <img class="avatar avatar-sq"
                    src="https://res.cloudinary.com/rahulb4/image/upload/v1643855031/peep_rssuj0.png"
                    alt="squared avatar 1" />
                <img class="avatar avatar-sq"
                    src="https://res.cloudinary.com/rahulb4/image/upload/v1643855031/peep_rssuj0.png"
                    alt="squared avatar 2" />
                <img class="avatar avatar-sq"
                    src="https://res.cloudinary.com/rahulb4/image/upload/v1643855031/peep_rssuj0.png"
                    alt="sqaured avatar 3" />
            </div>

            <!-- Code Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2FavatarSquared.html&style=github-gist&showBorder=on&showCopy=on"></script>
        </section>
    </main>
</body>

</html>
