<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../../css/main.css">
    <link rel="stylesheet" href="./../../css/components.css">
    <link rel="stylesheet" href="./image.css">

    <title>minimali ui: Images</title>
</head>

<body class="bg-white">
    <nav class="navbar">
        <h2 class="text-2xl ff-title fw-semibold">minimali.</h2>
        <ul class="navbar-right text-normal">
            <li><a class="links" href="">Home</a></li>
            <li><a class="links" href="">Docs</a></li>
            <li><a class="links" href="">Github</a></li>
        </ul>
    </nav>

    <main class="main-container">
        <section class="side-bar">

            <!-- Introduction Items List -->
            <div>
                <h3 class="fw-bold text-large">Getting Started</h3>
                <ul class="text-sm intro-list">
                    <li>
                        <a class="links" href="#">Introduction</a>
                    </li>
                    <li>
                        <a class="links" href="#">Colors</a>
                    </li>
                    <li>
                        <a class="links" href="#">Typography</a>
                    </li>
                </ul>
            </div>

            <!-- Component Items List -->
            <div>
                <h3 class="fw-bold text-large">Components</h3>
                <ul class="text-sm component-list">
                    <li>
                        <a class="links" href="../Avatars/avatar.html">Avatars</a>
                    </li>
                    <li>
                        <a class="links" href="../Alerts/alert.html">Alert</a>
                    </li>
                    <li>
                        <a class="links" href="../Badges/badge.html">Badges</a>
                    </li>
                    <li>
                        <a class="links" href="../Buttons/button.html">Button</a>
                    </li>
                    <li>
                        <a class="links" href="#">Cards</a>
                    </li>
                    <li>
                        <a class="links" href="../Images/image.html">Images</a>
                    </li>
                    <li>
                        <a class="links" href="../Inputs/input.html">Input</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="doc-content">
            <h3 class="fw-bold text-2xl">
                Images
            </h3>

            <!-- Square Images -->
            <div class="component-container">
                <img class="sq-image" src="https://picsum.photos/200/300?random=1" alt="square image 1" />
                <img class="sq-image" src="https://picsum.photos/200/300?random=2" alt="sqaure image 2" />
            </div>

            <!-- Code Snippet -->
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2FimageSq.html&style=github-gist&showBorder=on&showCopy=on"></script>
            
            <!-- Round Images -->
            <div class="component-container">
                <img class="round-image" src="https://picsum.photos/200/300?random=3" alt="round image 1" />
                <img class="round-image" src="https://picsum.photos/200/300?random=4" alt="round image 2" />
            </div>

            <!-- Code Snippet -->
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2FimageRound.html&style=github-gist&showBorder=on&showCopy=on"></script>

            <!-- Responsive Image -->
            <div class="component-container">
                <img class="rsp-image"
                    src="https://images.unsplash.com/photo-1643779374814-3abaf4546e30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="responsive image" />
            </div>

            <!-- Code Snippet -->
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2FrespImg.html&style=github-gist&showBorder=on&showCopy=on"></script>

        </section>
    </main>
</body>

</html>
