.sq-image {
    width: 15rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  
  .round-image {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
  
  .rsp-image {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  