.grid {
    display: grid;
    grid-gap: 2rem;
}
  
.grid-2-col {
    grid-template-columns: repeat(2, 1fr);
}
  
.grid-3-col {
    grid-template-columns: repeat(3, 1fr);
}
  
@media only screen and (max-width: 640px) {
    .grid-2-col,
    .grid-3-col {
      grid-template-columns: 1fr;
    }
}
  