<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../../css/main.css">
    <link rel="stylesheet" href="./../../css/components.css">
    <link rel="icon" href="https://res.cloudinary.com/rahulb4/image/upload/v1645370145/favicon.ico">

    <title>Minimali ui: Ratings</title>
</head>

<body class="bg-white">
    <nav class="navbar">
        <h2 class="text-2xl ff-title fw-semibold">minimali.</h2>
        <ul class="navbar-right text-normal">
            <li><a class="links" href="../../index.html">Home</a></li>
            <li><a class="links" href="../../Getting-Started/Introduction/">Docs</a></li>
            <li><a class="links" href="https://github.com/rahulbakshi4/minimali-ui">Github</a></li>
        </ul>
    </nav>

    <main class="main-container">
        <section class="side-bar">

            <!-- Introduction Items List -->
            <div>
                <h3 class="fw-bold text-large">Getting Started</h3>
                <ul class="text-sm intro-list">
                    <li>
                        <a class="links" href="../../Getting-Started/Introduction/introduction.html">Introduction</a>
                    </li>
                    <li>
                        <a class="links" href="../../Getting-Started/Colors/color.html">Colors</a>
                    </li>
                    <li>
                        <a class="links" href="../../Getting-Started/IconsFont/icon_font.html">Icons & Font</a>
                    </li>
                    <li>
                        <a class="links" href="../../Components/Utilities/utilities.html">Utilities</a>
                    </li>
                </ul>
            </div>

            <!-- Component Items List -->
            <div>
                <h3 class="fw-bold text-large">Components</h3>
                <ul class="text-sm component-list">
                    <li>
                        <a class="links" href="../Alerts/alert.html">Alert</a>
                    </li>
                    <li>
                        <a class="links" href="../Avatars/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a class="links" href="../Badges/badge.html">Badge</a>
                    </li>
                    <li>
                        <a class="links" href="../Buttons/button.html">Button</a>
                    </li>
                    <li>
                        <a class="links" href="../Cards/card.html">Card</a>
                    </li>
                    <li>
                        <a class="links" href="../Grids/grid.html">Grid</a>
                    </li>
                    <li>
                        <a class="links" href="../Images/image.html">Image</a>
                    </li>
                    <li>
                        <a class="links" href="../Inputs/input.html">Input</a>
                    </li>
                    <li>
                        <a class="links" href="../List/list.html">List</a>
                    </li>
                    <li>
                        <a class="links" href="../Modal/modal.html">Modal</a>
                    </li>
                    <li>
                        <a class="links" href="../Navigation/navigation.html">Navigation</a>
                    </li>
                    <li class="active">
                        <a class="links" href="./rating.html">Rating</a>
                    </li>
                    <li>
                        <a class="links" href="../Toast/toast.html">Toast</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="doc-content">
            <h3 class="fw-bold text-2xl">
                Rating
            </h3>
            <p class="doc-text">Rating are commonly used in ecommerce platfomrs to rate different products. <br><br>Use the <span class="class-highlight fw-semibold">.rated</span>class to check the stars.</p>
             
            <div class="component-container">
                <div class="ratings">
                    <span class="material-icons rated">star_rate</span>
                    <span class="material-icons rated">star_rate</span>
                    <span class="material-icons rated">star_rate</span>
                    <span class="material-icons">star_rate</span>
                    <span class="material-icons">star_rate</span>
                </div>
            </div>

            <!-- Code Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2Frating.html&style=github-gist&showBorder=on&showCopy=on"></script>


            <footer class="footer-nav">
                <div class="prev-page">
                    <span class="material-icons md-18">west</span>
                    <a class="links text-small" href="../Navigation/navigation.html">Navigation</a>
                </div>
                <div class="next-page">
                    <a class="links text-small" href="../Toast/toast.html">Toast</a>
                    <span class="material-icons md-18">east</span>
                </div>
            </footer>
        </section>
    </main>
</body>

</html>
