<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../../css/main.css">
    <link rel="stylesheet" href="./../../css/components.css">

    <title>Minimali ui: Utilities</title>
</head>

<body class="bg-white">
    <nav class="navbar">
        <h2 class="text-2xl ff-title fw-semibold">minimali.</h2>
        <ul class="navbar-right text-normal">
            <li><a class="links" href="../../index.html">Home</a></li>
            <li><a class="links" href="../../Getting-Started/Introduction/">Docs</a></li>
            <li><a class="links" href="https://github.com/rahulbakshi4/minimali-ui">Github</a></li>
        </ul>
    </nav>

    <main class="main-container">
        <section class="side-bar">

            <!-- Introduction Items List -->
            <div>
                <h3 class="fw-bold text-large">Getting Started</h3>
                <ul class="text-sm intro-list">
                    <li>
                        <a class="links" href="../../Getting-Started/Introduction/introduction.html">Introduction</a>
                    </li>
                    <li>
                        <a class="links" href="../../Getting-Started/Colors/color.html">Colors</a>
                    </li>
                    <li>
                        <a class="links" href="../../Getting-Started/IconsFont/icon_font.html">Icons & Font</a>
                    </li>
                    <li class="active">
                        <a class="links" href="./utilities.html">Utilities</a>
                    </li>
                </ul>
            </div>

            <!-- Component Items List -->
            <div>
                <h3 class="fw-bold text-large">Components</h3>
                <ul class="text-sm component-list">
                    <li>
                        <a class="links" href="../Alerts/alert.html">Alert</a>
                    </li>
                    <li>
                        <a class="links" href="../Avatars/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a class="links" href="../Badges/badge.html">Badge</a>
                    </li>
                    <li>
                        <a class="links" href="../Buttons/button.html">Button</a>
                    </li>
                    <li>
                        <a class="links" href="../Cards/card.html">Card</a>
                    </li>
                    <li>
                        <a class="links" href="../Grids/grid.html">Grid</a>
                    </li>
                    <li>
                        <a class="links" href="../Images/image.html">Image</a>
                    </li>
                    <li>
                        <a class="links" href="../Inputs/input.html">Input</a>
                    </li>
                    <li>
                        <a class="links" href="../List/list.html">List</a>
                    </li>
                    <li>
                        <a class="links" href="../Modal/modal.html">Modal</a>
                    </li>
                    <li>
                        <a class="links" href="../Navigation/navigation.html">Navigation</a>
                    </li>
                    <li>
                        <a class="links" href="../Ratings/rating.html">Rating</a>
                    </li>
                    <li>
                        <a class="links" href="../Toast/toast.html">Toast</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="doc-content">
            <div>
                <h3 class="fw-bold text-2xl">
                    Utilities
                </h3>
                <div class="doc-text">
                    <p class="">Minimali has various range of utility classes which can be added easily and quickly to get various styling instantly.</p>
                </div>
                <h3 class="fw-bold text-xl">
                    Text Color
                </h3>
                <div class="doc-text">
                    <p class="">Minimali has 3 utility classes <span class="class-highlight">.text-dark</span>, <span class="class-highlight">.text-white</span>, <span class="class-highlight">.text-gray</span> for text color styling.</p>
                </div>
            </div>

            <div class="component-container">
                <h2 class="text-dark">Aa</h2>
                <h2 class="text-gray">Aa</h2>
                <h2 class="text-white">Aa</h2>
            </div>

            <!-- Code Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2Ffontcolor.html&style=github-gist&showBorder=on&showCopy=on"></script>

            <div>
                
                <h3 class="fw-bold text-xl">
                    Background Color
                </h3>
                <div class="doc-text">
                    <p class="">Minimali has 3 classes <span class="class-highlight">.bg-dark</span>, <span class="class-highlight">.bg-white</span>, <span class="class-highlight">.bg-gray</span> for background color styling.</p>
                </div>
            </div>

            <div class="component-container">
                <div class="component-container bg-dark"></div>
                <div class="component-container bg-white"></div>
                <div class="component-container bg-gray"></div>
            </div>
            <!-- Code-Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2Fbgcolor.html&style=github-gist&showBorder=on&showCopy=on"></script>

            
                <div>
                
                    <h3 class="fw-bold text-xl">
                        Text Alignment
                    </h3>
                    <div class="doc-text">
                        <p class="">Minimali has 3 utility classes <span class="class-highlight">.text-center</span>, <span class="class-highlight">.text-right</span>, <span class="class-highlight">.text-left</span> for alignment of the text.</p>
                    </div>
                </div>
            <div class="component-container items-col">
                <span class="text-center">Center</span>
                <span class="text-right">Right</span>
                <span class="text-left">Left</span>
            </div>

            <!-- Code Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2Falign.html&style=github-gist&showBorder=on&showCopy=on"></script>

                <div>
                
                    <h3 class="fw-bold text-xl">
                        Font Size
                    </h3>
                    <div class="doc-text">
                        <p class="">Minimali has various utility classes for a range of font-sizes. <br></p>
                        <ul class="text-size-list text-large">
                           <li><span class="class-highlight fw-semibold">.text-5xl</span> having font size of 9.375rem</li>
                           <li><span class="class-highlight fw-semibold">.text-4xl</span> having font size of 6.25rem</li>
                           <li><span class="class-highlight fw-semibold">.text-3xl</span> having font size of 4.5rem</li>
                           <li><span class="class-highlight fw-semibold">.text-2xl</span> having font size of 2rem</li>
                           <li><span class="class-highlight fw-semibold">.text-xl</span> having font size of 1.75rem</li>
                           <li><span class="class-highlight fw-semibold">.text-large</span> having font size of 1.125rem</li>
                           <li><span class="class-highlight fw-semibold">.text-normal</span> having font size of 1rem</li>
                           <li><span class="class-highlight fw-semibold">.text-sm</span> having font size of 0.875rem</li>
                        </ul>
                    </div>
                </div>
            <div class="component-container items-base">
                <span class="text-5xl">Aa</span>
                <span class="text-4xl">Aa</span>
                <span class="text-3xl">Aa</span>
                <span class="text-2xl">Aa</span>
                <span class="text-xl">Aa</span>
                <span class="text-large">Aa</span>
                <span class="text-normal">Aa</span>
                <span class="text-sm">Aa</span>
            </div>

            <!-- Code Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2Ffontsize.html&style=github-gist&showBorder=on&showCopy=on"></script>


                <div>
                    <h3 class="fw-bold text-xl">
                        Font Weight
                    </h3>
                    <div class="doc-text">
                        <p class="">Minimali has various utility classes for a range of font weights. <br></p>
                        <ul class="text-size-list">
                           <li><span class="class-highlight fw-semibold">.fw-xbold</span> having font weight of 900</li>
                           <li><span class="class-highlight fw-semibold">.fw-bold</span> having font weight of 600</li>
                           <li><span class="class-highlight fw-semibold">.fw-semibold</span> having font weight of 500</li>
                           <li><span class="class-highlight fw-semibold">.fw-normal</span> having font weight of 400</li>
                           <li><span class="class-highlight fw-semibold">.fw-light</span> having font weight of 200</li>
                        </ul>
                    </div>
                </div>
            <div class="component-container text-xl">
                <span class="fw-xbold">Aa</span>
                <span class="fw-bold">Aa</span>
                <span class="fw-semibold">Aa</span>
                <span class="fw-normal">Aa</span>
                <span class="fw-light">Aa</span>
            </div>

            <!-- Code Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2FfontWeight.html&style=github-gist&showBorder=on&showCopy=on"></script>

                <div>
                    <h3 class="fw-bold text-xl">
                        Headings
                    </h3>
                    <div class="doc-text">
                        <p class="">Minimali supports all the defualt heading tags h1, h2, h3, h4, h5 and h6.You can add custom styling for sizing of headings through minimali's utility classes for font size too depending your need.</p>
                    </div>
                </div>
                <div class="component-container items-col ">
                    <h2 class="fw-bold">Default H2</h2>
                    <h2 class="fw-bold text-2xl">H2 with utility class</h2>
                </div>
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2Fheading.html&style=github-gist&showBorder=on&showCopy=on"></script>
                
                <div class="doc-text">
                    <p class="">In similar way you can add desired sizing you your heading choosing from various utility classes for font-sizing.</p>
                </div>

                <footer class="footer-nav">
                    <div class="prev-page">
                        <span class="material-icons md-18">west</span>
                        <a class="links" href="../../Getting-Started/IconsFont/icon_font.html">Icons & Font</a>
                    </div>
                    <div class="next-page">
                        <a class="links" href="../Alerts/alert.html">Alert</a>
                        <span class="material-icons md-18">east</span>
                    </div>
                </footer>
        </section>
    </main>
</body>

</html>
