<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../../css/main.css">
    <link rel="stylesheet" href="./../../css/components.css">
    <link rel="icon" href="https://res.cloudinary.com/rahulb4/image/upload/v1645370145/favicon.ico">

    <title>Minimali ui: List</title>
</head>

<body class="bg-white">
    <nav class="navbar">
        <h2 class="text-2xl ff-title fw-semibold"><a href="../../index.html" class="links">minimali.</a></h2>
        <ul class="navbar-right text-normal">
            <li><a class="links" href="../../index.html">Home</a></li>
            <li><a class="links" href="../../Getting-Started/Introduction/">Docs</a></li>
            <li><a class="links" href="https://github.com/rahulbakshi4/minimali-ui">Github</a></li>
        </ul>
    </nav>

    <main class="main-container">
        <section class="side-bar">

            <!-- Introduction Items List -->
            <div>
                <h3 class="fw-bold text-large">Getting Started</h3>
                <ul class="text-sm intro-list">
                    <li>
                        <a class="links" href="../../Getting-Started/Introduction/introduction.html">Introduction</a>
                    </li>
                    <li>
                        <a class="links" href="../../Getting-Started/Colors/color.html">Colors</a>
                    </li>
                    <li>
                        <a class="links" href="../../Getting-Started/IconsFont/icon_font.html">Icons & Font</a>
                    </li>
                    <li>
                        <a class="links" href="../../Components/Utilities/utilities.html">Utilities</a>
                    </li>
                </ul>
            </div>

            <!-- Component Items List -->
            <div>
                <h3 class="fw-bold text-large">Components</h3>
                <ul class="text-sm component-list">
                    <li>
                        <a class="links" href="../Alerts/alert.html">Alert</a>
                    </li>
                    <li>
                        <a class="links" href="../Avatars/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a class="links" href="../Badges/badge.html">Badge</a>
                    </li>
                    <li>
                        <a class="links" href="../Buttons/button.html">Button</a>
                    </li>
                    <li>
                        <a class="links" href="../Cards/card.html">Card</a>
                    </li>
                    <li>
                        <a class="links" href="../Grids/grid.html">Grid</a>
                    </li>
                    <li>
                        <a class="links" href="../Images/image.html">Image</a>
                    </li>
                    <li>
                        <a class="links" href="../Inputs/input.html">Input</a>
                    </li>
                    <li class="active">
                        <a class="links" href="./list.html">List</a>
                    </li>
                    <li>
                        <a class="links" href="../Modal/modal.html">Modal</a>
                    </li>
                    <li>
                        <a class="links" href="../Navigation/navigation.html">Navigation</a>
                    </li>
                    <li>
                        <a class="links" href="../Ratings/rating.html">Rating</a>
                    </li>
                    <li>
                        <a class="links" href="../Slider/slider.html">Slider</a>
                    </li>
                    <li>
                        <a class="links" href="../Toast/toast.html">Toast</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="doc-content">
            <h3 class="fw-bold text-2xl">
                List
            </h3>
            <p class="doc-text"> The list component is a continuous group of text, images and icons that may contain
                primary or supplemental actions.</p>

            <!-- Basic Lists -->
            <div>
                <h3 class="text-xl fw-bold">Basic List</h3>
                <p class="doc-text">Basic List can be implemented using <span
                        class="class-highlight fw-semibold">.list-group</span>, <span
                        class="class-highlight fw-semibold">.list-title</span>, <span
                        class="class-highlight fw-semibold">.list-item</span> classes. <br><br> The default list come with
                    no list style but disc and decimal list style can be added using <span
                        class="class-highlight fw-semibold">.list-disc</span> and <span
                        class="class-highlight fw-semibold">.list-decimal</span> classes. </p>

            </div>
            <div class="component-container">
                <ul class="list-group">
                    <div class="list-title text-large">
                        Names
                    </div>
                    <li class="list-item">
                        Jake
                    </li>
                    <li class="list-item">
                        Micheal
                    </li>
                    <li class="list-item">
                        Chandler
                    </li>
                    <li class="list-item">
                        Howard
                    </li>
                </ul>
                <ul class="list-group list-disc">
                    <div class="list-title text-large">
                        Names
                    </div>
                    <li class="list-item">
                        Jake
                    </li>
                    <li class="list-item">
                        Micheal
                    </li>
                    <li class="list-item">
                        Chandler
                    </li>
                    <li class="list-item">
                        Howard
                    </li>
                </ul>
                <ul class="list-group list-decimal">
                    <div class="list-title text-large">
                        Names</div>
                    <li class="list-item">
                        Jake
                    </li>
                    <li class="list-item">
                        Micheal
                    </li>
                    <li class="list-item">
                        Chandler
                    </li>
                    <li class="list-item">
                        Howard
                    </li>
                </ul>
            </div>

            <!-- Code Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2Flist.html&style=github-gist&showBorder=on&showCopy=on"></script>

            <div>
                <h3 class="fw-bold text-xl">Stacked List</h3>
                <p class="doc-text">Another list variant available with Minimali is the stacked list. A stacked list can have avatars, list content and buttons.</p>
            </div>
            <!-- Stacked-Lists -->
            <div class="component-container">
                <ul class="stacked-list">
                    <li class="stacked-items">
                        <img src="https://picsum.photos/id/1012/200" class="avatar avatar-small" alt="user avatar" />
                        <div class="list-content">
                            <p class="text-sm fw-semibold">Patrick Bay</p>
                            <p class="text-sm">@patrickb5</p>
                        </div>
                        <button class="btn btn-primary icon-text-btn stacked-btn">
                            Follow
                            <span class="material-icons">add</span>
                        </button>
                    </li>
                    <li class="stacked-items">
                        <img src="https://picsum.photos/id/177/200/300" class="avatar avatar-small" alt="user avatar" />
                        <div class="list-content">
                            <p class="text-sm fw-semibold">Jake Holt</p>
                            <p class="text-sm">@jholt7</p>
                        </div>
                        <button class="btn btn-primary icon-text-btn stacked-btn">
                            Follow
                            <span class="material-icons">add</span>
                        </button>
                    </li>
                </ul>
            </div>

            <!-- Code Snippet -->
            <script
                src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Frahulbakshi4%2Fcode-snippets%2Fblob%2Fmain%2FstackedList.html&style=github-gist&showBorder=on&showCopy=on"></script>
            <footer class="footer-nav">
                <div class="prev-page">
                    <span class="material-icons md-18">west</span>
                    <a class="links text-small" href="../Inputs/input.html">Input</a>
                </div>
                <div class="next-page">
                    <a class="links text-small" href="../Modal/modal.html">Modal</a>
                    <span class="material-icons md-18">east</span>
                </div>
            </footer>

        </section>
    </main>
</body>

</html>
